<mat-toolbar color="red" class="metal-toolbar">{{params.title}}
    <span class="fill-space"></span>
    <span>
        <a mat-button routerLink="/user/search">
            <span>Communauté</span>
        </a>
        <a mat-button>
            <span>CVThèque</span>
        </a>
        <a mat-button>
            <span>Test de compétences</span>
        </a>
        <a mat-button>
            <span>Formation</span>
        </a>
        <a mat-button>
            <span>Ressources humaines</span>
        </a>
        <a></a>
    </span>
    <div class="button-row">
        <button mat-button>
            <mat-icon>fingerprint</mat-icon>
            <span>Hello Doudou</span>
        </button>
    </div>
</mat-toolbar>